* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../assets/images/4457211.jpg');
    background-position: center;
    background-size:cover;
    color: #fff;
}

section {
    position: relative;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 2rem 3rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-10px);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ffa70e; 
}

.inputbox {
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ddd;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: -10px;
    font-size: 0.85rem;
    color: #ffa70e;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 1.2rem;
    color: #ffa70e;
}

.forget {
    margin: 20px 0;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

#remember {
    cursor: pointer;
}

.forget a:hover {
    color: #ffa70e;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    background: #ffa70e;
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background: #ffa70ecb;
    color: #fff;
}

@media (max-width: 480px) {
    section {
        padding: 1.5rem 2rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    button {
        font-size: 0.9rem;
    }
}
